@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="Contact1 text-white">
    <div>
        <div class="row align-items-center">

            

            <div class="container">
            </div>

        </div>
    </div>
</section>


<div class="contact-container">

    <h2 class="title">LIÊN HỆ CHÚNG TÔI</h2>

    <div class="contact-content">

        <!-- LEFT -->
        <div class="contact-info">

            <h4>ĐỊA CHỈ</h4>
            <p>
                KING POWER GYM THÀNH THÁI - 52 Thành Thái,
                Phường Hòa Hưng,
                Thành phố Hồ Chí Minh
            </p>

            <div class="row">
                <div>
                    <h4>HOTLINE</h4>
                    <p class="red">1900 633 638</p>
                </div>

                <div>
                    <h4>EMAIL</h4>
                    <p class="red">customercare@citigym.asia</p>
                </div>
            </div>

        </div>


        <!-- RIGHT FORM -->
        <div class="contact-form">

            <input type="text" placeholder="Họ Tên">

            <input type="text" placeholder="Điện thoại">

            <input type="email" placeholder="Email">

            <textarea placeholder="Nội dung"></textarea>

            <button>GỬI</button>

        </div>

    </div>

</div>