@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2 class="mb-4">Dashboard Quản Lý Gym</h2>

<div class="row">

    <div class="col-md-3">
        <div class="card text-center bg-danger text-white">
            <div class="card-body">
                <h3>Hội viên</h3>
                <a href="/Members" class="btn btn-light">Quản lý</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card text-center bg-primary text-white">
            <div class="card-body">
                <h3>Huấn luyện viên</h3>
                <a href="/Trainers" class="btn btn-light">Quản lý</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card text-center bg-success text-white">
            <div class="card-body">
                <h3>Gói tập</h3>
                <a href="/Packages" class="btn btn-light">Quản lý</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card text-center bg-warning text-white">
            <div class="card-body">
                <h3>Thanh toán</h3>
                <a href="/Payments" class="btn btn-light">Quản lý</a>
            </div>
        </div>
    </div>

</div>

<br>

<div class="row">

    <div class="col-md-3">
        <div class="card text-center bg-dark text-white">
            <div class="card-body">
                <h3>Lịch tập</h3>
                <a href="/Schedules" class="btn btn-light">Quản lý</a>
            </div>
        </div>
    </div>

</div>