@{
    ViewData["Title"] = "Home Page";
}
<!-- HERO BANNER -->
<section class="hero text-white">
    <div class="banner">
        <div class="row align-items-center">

            

            <div class="container">
                </div>

            </div>
        </div>
    </section>


    <!-- DỊCH VỤ -->
    <section class="services">

        <h2>CÁC DỊCH VỤ CỦA CHÚNG TÔI</h2>
    <p>Luyện tập tại KING POWER GYM sẽ giúp bạn đạt được mục tiêu sức khỏe và hình thể.</p>

        <div class="services-grid">

            <div class="service-card">
                <img src="/images/Personal trainer.jpg">
                <div class="overlay">PERSONAL TRAINER</div>
            </div>

            <div class="service-card">
                <img src="/images/yoga.jpg">
                <div class="overlay">YOGA</div>
            </div>

            <div class="service-card">
                <img src="/images/cx workx.jpg">
                <div class="overlay">CX WORKX</div>
            </div>

            <div class="service-card">
                <img src="/images/body blance.jpg">
                <div class="overlay">XEM THÊM</div>
            </div>

        </div>

    </section>


    <!-- STORY -->
    <section class="member-story">

        <h2>CÂU CHUYỆN HỘI VIÊN</h2>
    <p>KING POWER GYM dùng toàn bộ nỗ lực để giúp bạn yêu cơ thể mình hơn.</p>

        <div class="story-wrapper">

            <button class="nav-btn left" onclick="prevStory()">&#10094;</button>

            <div class="story-window">

                <div class="story-grid" id="storyGrid">

                <a href="#blog1" class="story-card">
                        <img src="/images/Thuc-an-dinh-duong.jpg">
                    <span class="tag">BLOG</span>

                    <h3>PHÂN BIỆT TINH BỘT NHANH VÀ TINH BỘT CHẬM: NÊN ĂN LOẠI NÀO KHI TẬP GYM?</h3>
                    <p>
                        12-12-2025
                    </p>
                    <p>
                
                        Tinh bột là nguồn năng lượng quan trọng giúp cơ thể duy trì sức bền và hiệu suất trong quá trình tập luyện. Tuy nhiên, không phải loại tinh bột nào cũng giống nhau. Việc hiểu rõ sự khác biệt giữa tinh bột nhanh và tinh bột chậm sẽ giúp bạn xây dựng chế độ ăn phù hợp hơn.

                        Tinh bột nhanh thường có trong các thực phẩm như bánh mì trắng, nước ngọt hoặc đồ ngọt, giúp cung cấp năng lượng nhanh nhưng dễ làm tăng đường huyết. Trong khi đó, tinh bột chậm có trong gạo lứt, khoai lang, yến mạch… giúp giải phóng năng lượng từ từ và duy trì cảm giác no lâu.

                        Đối với người tập gym, việc lựa chọn đúng loại tinh bột và thời điểm ăn phù hợp sẽ giúp tăng hiệu quả tập luyện, hỗ trợ phát triển cơ bắp và kiểm soát cân nặng tốt hơn
                    </p>
                    </a>

                <a href="#blog1" class="story-card">
                        <img src="/images/Nâng-cap-phong.jpg">
                    <span class="tag">BLOG</span>

                    <h3>NÂNG CẤP VÀ CẢI TIẾN PHÒNG TẬP: TRẢI NGHIỆM TẬP LUYỆN HIỆN ĐẠI HƠN</h3>

                    <p>
                        15-03-2026
                    </p>
                    <p>

                        Nhằm mang đến trải nghiệm tốt hơn cho hội viên, King Power Gym đã tiến hành nâng cấp và cải tiến nhiều khu vực trong phòng tập. Các trang thiết bị tập luyện được bổ sung và sắp xếp lại khoa học, giúp không gian tập trở nên rộng rãi và thuận tiện hơn.

                        Bên cạnh đó, khu vực tập tạ và khu cardio cũng được cải thiện để đáp ứng nhu cầu luyện tập ngày càng cao của hội viên. Với những thay đổi này, King Power Gym mong muốn mang đến môi trường tập luyện hiện đại, năng động và hiệu quả hơn cho tất cả mọi người.
                    </p>
                    </a>
                <a href="#blog1" class="story-card">
                    <img src="/images/KPG.jpg">
                    <span class="tag">BLOG</span>

                    <h3>TẬP TẠI KING POWER GYM BAO NHIÊU 1 THÁNG? TÍNH TOÁN CHI PHÍ TẬP GYM THÔNG MINH</h3>
                    <p>20-03-2026</p>
                    <p>
                

                        Chi phí tập tại King Power Gym thường dao động từ khoảng 300.000đ – 700.000đ mỗi tháng, tùy vào gói tập và thời gian đăng ký. Nếu lựa chọn các gói dài hạn như 6 tháng hoặc 12 tháng, mức phí trung bình mỗi tháng sẽ tiết kiệm hơn đáng kể.

                        Việc lựa chọn gói tập phù hợp không chỉ giúp tối ưu chi phí mà còn tạo động lực duy trì thói quen luyện tập lâu dài. Với mức giá hợp lý cùng môi trường tập luyện hiện đại, King Power Gym là lựa chọn phù hợp cho những ai muốn cải thiện sức khỏe và vóc dáng. 💪
                    </p>
                </a>
                </div>

            </div>
            

            <button class="nav-btn right" onclick="nextStory()">&#10095;</button>

        </div>
        <div class="slider-dots">

            <span class="dot active"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>

        </div>
    </section>

    <script>

        let position = 0;
        let index = 0;

        const move = 320;

        const grid = document.getElementById("storyGrid");
        const dots = document.querySelectorAll(".dot");

        function updateDots(){

        dots.forEach(dot => dot.classList.remove("active"));

        dots[index].classList.add("active");

        }

        function nextStory(){

        position -= move;
        index++;

        if(index >= dots.length){
        index = 0;
        position = 0;
        }

        grid.style.transform = "translateX("+position+"px)";

        updateDots();

        }

        function prevStory(){

        position += move;
        index--;

        if(index < 0){
        index = dots.length - 1;
        position = -(move*(dots.length-1));
        }

        grid.style.transform = "translateX("+position+"px)";

        updateDots();

        }

    </script>
<section class="compare-section">
    <div class="section">

        <div class="text">
    <h2>BEFORE & AFTER</h2>
    <p>
                Tập luyện tại KING POWER GYM để có cơ hội thay đổi ngoại hình một cách ngoạn mục.
                Việc luyện tập đều đặn tại KING POWER GYM và đúng kỹ thuật, cùng với một chế độ
        dinh dưỡng hợp lý sẽ giúp cải thiện vóc dáng một cách rõ rệt.
    </p>
    <div class="compare-container">
        <div class="compare-container">

        <img src="images/truoc3.jpg" class="before">

        <div class="after-mask" id="mask">
            <img src="images/sau3.jpg" class="after">
        </div>

        <div class="slider" id="slider"></div>
        </div>
            </div>

        </div>

    </div>

</section>

                                <!-- BMI -->
    <section class="bmi-section">

        <div class="bmi-container">

            <div class="bmi-image">
                <img src="/images/BMI.jpg" alt="fitness">
            </div>

            <div class="bmi-form">

                <h2>TÍNH BMI (CHỈ SỐ KHỐI CƠ THỂ)</h2>

                <p>
                Đo chỉ số BMI tại KING POWER GYM để đánh giá mức độ béo, gầy hay cân nặng lý tưởng.
                </p>

                <div class="form-grid">

                    <input type="number" id="height" placeholder="Chiều cao / cm">
                    <input type="number" id="weight" placeholder="Cân nặng / kg">

                    <input type="number" id="age" placeholder="Tuổi">

                    <select id="gender">
                        <option>Giới tính</option>
                        <option>Nam</option>
                        <option>Nữ</option>
                    </select>

                    <input type="text" placeholder="Họ và tên">
                    <input type="text" placeholder="Số điện thoại">

                </div>

                <button onclick="calculateBMI()">NHẬN KẾT QUẢ</button>

                <div id="result"></div>

            </div>

        </div>

    </section>
    <!-- Form đăng ký tham gia-->
    <section class="club-visit">

        <div class="visit-overlay">

            <h2>ĐĂNG KÝ THAM QUAN CÂU LẠC BỘ</h2>

            <form class="visit-form">

                <div class="row">
                    <input type="text" placeholder="Họ và tên">
                    <input type="text" placeholder="Số điện thoại">
                </div>

                <select>
                    <option>Câu lạc bộ bạn muốn tham gia</option>
                <option>KING POWER GYM Thành Thái</option>
                <option>KING POWER GYM Điện Biên Phủ</option>
                <option>KING POWER GYM Phổ Quang</option>
                </select>

                <select>
                    <option>Giờ nào chúng tôi có thể gọi bạn?</option>
                    <option>Sáng</option>
                    <option>Chiều</option>
                    <option>Tối</option>
                </select>

                <button type="submit">ĐĂNG KÝ NGAY</button>

            </form>

        </div>

    </section>
    <script>

        function calculateBMI(){

        let height = document.getElementById("height").value;
        let weight = document.getElementById("weight").value;

        height = height / 100;

        let bmi = weight / (height * height);

        bmi = bmi.toFixed(1);

        let result = "";

        if(bmi < 18.5){
        result = "Thiếu cân";
        }
        else if(bmi < 24.9){
        result = "Bình thường";
        }
        else if(bmi < 29.9){
        result = "Thừa cân";
        }
        else{
        result = "Béo phì";
        }

        document.getElementById("result").innerHTML =
        "Chỉ số BMI của bạn: " + bmi + " (" + result + ")";

        }

    </script>
<script>

    const slider = document.getElementById("slider")
    const mask = document.getElementById("mask")
    const container = document.querySelector(".compare-container")

    let isDragging = false

    slider.addEventListener("mousedown", () => isDragging = true)

    window.addEventListener("mouseup", () => isDragging = false)

    /* QUAN TRỌNG: vẫn bắt khi ra ngoài */
    window.addEventListener("mousemove", (e) => {

        if(!isDragging) return

        const rect = container.getBoundingClientRect()

        let x = e.clientX - rect.left

        /* FIX kẹt mép */
        if(x < 0) x = 0
        if(x > rect.width) x = rect.width

        mask.style.width = x + "px"
        slider.style.left = x + "px"

    })
</script>