@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="payment-container">

    <h2>CITIGYM THÔNG BÁO</h2>
    <h3>CÁC PHƯƠNG THỨC THANH TOÁN</h3>

    <div class="payment-method">

        <div class="col-md-6 text-center">
            <img src="~/images/thanhtoan2.png">
            </div>

        <div class="text">
            <b>1. Thanh toán trực tiếp</b> tại quầy lễ tân<br>
            các Câu lạc bộ qua hình thức:<br>
            - Tiền mặt, cà thẻ<br>
            - Thanh toán offline (mPOS).
        </div>

    </div>


    <div class="payment-method">

        <div class="icon">
            <img src="/images/Thanh-toan.png">
        </div>

        <div class="text">
            <b>2. Thanh toán gián tiếp</b> qua hình thức:<br>
            - Thanh toán online<br>
            - Chuyển khoản qua tài khoản ngân hàng của CITIGYM.
        </div>

    </div>


    <div class="payment-method">

        <div class="icon">
            <img src="/images/ko hợp lệ.png">
        </div>

        <div class="text warning">
            Chúng tôi sẽ không xác nhận hợp lệ các khoản thanh toán chuyển khoản
            thông qua Nhân viên tư vấn/Huấn luyện viên hoặc các hình thức thanh toán
            khác ngoài 2 hình thức nêu trên
        </div>

    </div>


    <div class="bank-info">

        <h3>THÔNG TIN TÀI KHOẢN:</h3>

        <p><b>Ngân hàng:</b> NGÂN HÀNG TMCP VIỆT NAM THỊNH VƯỢNG (VP Bank)</p>

        <p><b>Số tài khoản:</b> 22104777</p>

        <p><b>Tên chủ tài khoản:</b> Công ty Cổ phần đầu tư và phát triển dịch vụ CITIGYM</p>

        <p><b>Nội dung thanh toán:</b> Mã số Hợp đồng - Tên Khách Hàng/Hội viên</p>

    </div>

    <p class="contact">
        Liên hệ hotline <b>1900 633 638</b> để biết thêm chi tiết
    </p>

</div>