@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Danh sách công việc";
}
<section class="Recruit1 text-white">
    <div>
        <div class="row align-items-center">

            

            <div class="container">
            </div>

        </div>
    </div>
</section>
<div class="jobs-container">

    <h2 class="jobs-title">DANH SÁCH CÔNG VIỆC</h2>
    <p class="jobs-sub">Danh sách các việc đang được mở tuyển dụng tại KING POWER GYM.</p>

    <div class="job-search">

        <input type="text" placeholder="Tìm công việc">

        <select>
            <option>Phòng Hỗ Trợ Điều Hành</option>
            <option>Marketing</option>
            <option>Kinh Doanh</option>
        </select>

        <button class="btn-search">TÌM VIỆC</button>

    </div>


    <div class="job-item">

        <div class="job-info">
            <h3>CHUYÊN VIÊN VẬN HÀNH (LỄ TÂN FULLTIME)</h3>

            <p>Fulltime • 5 người • Thỏa thuận</p>

            <p>52 Thành Thái, Phường Hòa Hưng, Thành phố Hồ Chí Minh</p>

            <div class="job-tags">
                <span>Vận hành</span>
                <span>Tin học văn phòng</span>
                <span>Chăm sóc khách hàng</span>
            </div>

        </div>

        <div class="job-action">
            <button class="apply-btn">ỨNG TUYỂN</button>
        </div>

    </div>


    <div class="job-item">

        <div class="job-info">
            <h3>NHÂN VIÊN PHA CHẾ (FULLTIME / PART-TIME)</h3>

            <p>Fulltime • 5 người • Thỏa thuận</p>

            <p>52 Thành Thái, Phường Hòa Hưng, Thành phố Hồ Chí Minh</p>

            <div class="job-tags">
                <span>Vận hành</span>
            </div>

        </div>

        <div class="job-action">
            <button class="apply-btn">ỨNG TUYỂN</button>
        </div>

    </div>

</div>