@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="Services1 text-white">
    <div>
        <div class="row align-items-center">

            

            <div class="container">
            </div>

        </div>
    </div>
</section>
<section id="services" class="services-page">

    <h2 class="title">CÁC DỊCH VỤ CỦA CHÚNG TÔI</h2>

    <div class="services-grid">

        <div class="service-card">
            <img src="/images/Bodypumd.jpg">
            <h3>BODY PUMP</h3>
            <p>Tăng sức mạnh và đốt mỡ hiệu quả.</p>
        </div>

        <div class="service-card">
            <img src="/images/Cyling.png">
            <h3>CYCLING</h3>
            <p>Đạp xe cường độ cao giúp đốt calo.</p>
        </div>

        <div class="service-card">
            <img src="/images/Dance.jpg">
            <h3>DANCE</h3>
            <p>Vừa tập luyện vừa giải trí.</p>
        </div>

        <div class="service-card">
            <img src="/images/yoga.jpg">
            <h3>YOGA</h3>
            <p>Tăng sự dẻo dai và giảm stress.</p>
        </div>

        <div class="service-card">
            <img src="/images/Ffinnes.jpg">
            <h3>FITNESS</h3>
            <p>Luyện tập toàn thân với máy hiện đại.</p>
        </div>

        <div class="service-card">
            <img src="/images/PTtraining.jpg">
            <h3>PT TRAINING</h3>
            <p>Huấn luyện viên cá nhân chuyên nghiệp.</p>
        </div>
        <div class="service-card">
            <img src="/images/VatTay.png">
            <h3>VẬT TAY</h3>
            <p>Huấn luyện viên cá nhân chuyên nghiệp.</p>
        </div>

    </div>

</section>