@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="Rewards1 text-white">
    <div>
        <div class="row align-items-center">

            

            <div class="container">
            </div>

        </div>
    </div>
</section>
<section class="rewards-page">

    <h1>REWARDS</h1>

    <div class="points">
        Điểm của bạn: <b>850</b> điểm
    </div>


    <div class="reward-grid">

        <div class="reward-card">
            <img src="/images/BINHNUOC.jpg">
            <h3>Bình nước KING POWER GYM</h3>
            <p>300 điểm</p>
            <button>Đổi quà</button>
        </div>

        <div class="reward-card">
            <img src="/images/AO.jpg">
            <h3>Áo tập Gym</h3>
            <p>500 điểm</p>
            <button>Đổi quà</button>
        </div>

        <div class="reward-card">
            <img src="/images/FREEPT.jpg">
            <h3>1 Buổi Personal Trainer</h3>
            <p>1000 điểm</p>
            <button>Đổi quà</button>
        </div>

        <div class="reward-card">
            <img src="/images/WHEY.jpg">
            <h3>Nước dinh dưỡng</h3>
            <p>200 điểm</p>
            <button>Đổi quà</button>
        </div>

    </div>

</section>